:root{
	--vermelho: #E50914;
	--preta: #141414;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--preta);
	font-family: 'Arial', Times, serif;
}

header .logo{
	color: var(--vermelho);
	font-family: 'Arial', Times;
	font-size: 40px;
}

header .container{
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
}

header nav a{
	margin: 0 0.3rem;
	line-height: 3;
	color: #AAA;
	text-decoration: none;
}

